  * {
      margin: 0;
      padding: 0;
  }

  .header {
      padding: 35px;
      text-align: center;
  }

  .header-main-text {
      font-size: 50px;
      margin-bottom: 10px;
  }

  .header-blocked-text {
      background-color: black;
      color: white;
      padding-left: 5px;
  }

  body {
      background-color: #f2f2f2;
      font-family: 'Inconsolata', monospace;
  }

  .main-content {
      padding: 10px;
      display: flex;
  }

  .col75 {
      flex: 75%;
      padding: 8px;
  }

  .col25 {
      padding: 8px;
      flex: 25%;
  }

  .card {

      text-align: justify;
      background-color: white;
      box-shadow: 0px 2px 8px gray;
      margin-top: 15px;
      border-radius: 10px;

  }

  .card-flat {
      text-align: justify;
      background-color: white;
      box-shadow: 0px 2px 8px gray;
      margin-top: 15px;
  }

  .card:hover {
      box-shadow: 0px 2px 15px gray;

  }

  .card-img {
      width: 100%;
  }

  .card-body {
      padding: 10px;
  }

  .card-btn {

      border: 1px solid gray;
      background-color: white;
      padding: 10px;
      color: black;
  }

  .card-btn:hover {
      cursor: pointer;
      background-color: gray;

  }

  .inner-body {
      margin-top: 5px;
      display: flex;
      align-items: center;
  }

  .card-comment {
      margin-left: auto;
  }

  .card-title-desc {
      font-style: italic;
      font-size: 15px;

  }

  .card-text {
      font-size: 12px;
  }

  .card-comment-count {
      background-color: black;
      color: white;
      padding: 5px;
  }

  .card-list {
      width: 100%;
      display: flex;

      flex-direction: column;
      overflow: hidden;
  }

  .card-list-item {
      padding: 10px;
      width: 100%;
      margin-top: 5px;
      display: flex;
      align-items: center;
      border: none;
      border-bottom: 1px solid #f2f2f2;


  }

  .card-list-item:last-child {
      padding-bottom: 5px;
  }

  .card-list-item:hover {
      background-color: #f2f2f2;
  }

  .card-list-item ul {

      list-style: none;
  }

  .card-header {
      padding: 5px;
      background-color: #f2f2f2;
  }

  .card-list-item-img {
      margin-left: 5px;
      margin-right: 5px;
      width: 40px;
      height: 40px;
  }

  .tx {
      flex: 1;
  }

  a {
      text-decoration: none;
      color: black;
  }

  .flex-body {
      display: flex;
      flex-wrap: wrap;
      padding: 9px;
  }

  .card-tag {
      padding: 3px;
      background-color: #f2f2f2;
      margin: 4px;
      font-size: 15px;
  }

  footer {
      text-align: center;
      padding: 45px;
      background-color: #222;
  }

  .btn-footer {
      background-color: #222;
      color: white;
      padding: 10px;
      border: 1px solid white;

  }

  .btn-footer:hover {
      opacity: 0.8;
      cursor: pointer;
  }

  .footer-text {
      margin-top: 10px;
      color: white;
  }

  .footer-text a {
      color: white;
      text-decoration: underline;
  }

  @media screen and (max-width:800px) {
      body {
          background-color: dodgerblue;
      }

      .main-content {
          flex-direction: column;
      }
  }
